#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
SharePointRemote/SharePointRemote.v11.suo
Sharezbold/_UpgradeReport_Files/UpgradeReport.css
Sharezbold/_UpgradeReport_Files/UpgradeReport.xslt
Sharezbold/_UpgradeReport_Files/UpgradeReport_Error.png
Sharezbold/_UpgradeReport_Files/UpgradeReport_Information.png
Sharezbold/_UpgradeReport_Files/UpgradeReport_Success.png
Sharezbold/_UpgradeReport_Files/UpgradeReport_Warning.png
Sharezbold/UpgradeLog.htm
Sharezbold/UpgradeLog.XML
