<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContentMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ContentMigration.Properties.Settings>
            <setting name="ContentMigration_wsLists_Lists" serializeAs="String">
                <value>http://ss13-css-019/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="ContentMigration_wsSites_Sites" serializeAs="String">
                <value>http://ss13-css-019/_vti_bin/Sites.asmx</value>
            </setting>
            <setting name="ContentMigration_wsCopy_Copy" serializeAs="String">
                <value>http://ss13-css-019/_vti_bin/Copy.asmx</value>
            </setting>
            <setting name="ContentMigration_wsSiteData_SiteData" serializeAs="String">
                <value>http://ss13-css-019/_vti_bin/SiteData.asmx</value>
            </setting>
        </ContentMigration.Properties.Settings>
    </applicationSettings>
</configuration>