<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileMigration">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sps2013003:12345/FileMigrationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileMigration"
                contract="FileMigration.IFileMigration" name="WSHttpBinding_IFileMigration" />
        </client>
    </system.serviceModel>
</configuration>