<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sharezbold.FileMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sharezbold.FileMigration.Properties.Settings>
            <setting name="FileMigration_WebReferenceCopy_Copy" serializeAs="String">
                <value>http://10.10.102.36/_vti_bin/copy.asmx</value>
            </setting>
        </Sharezbold.FileMigration.Properties.Settings>
    </applicationSettings>
</configuration>