<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ListsSoap">
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.102.48/_vti_bin/lists.asmx"
          binding="basicHttpBinding" bindingConfiguration="ListsSoap"
          contract="ServiceReference1.ListsSoap" name="ListsSoap" />
    </client>
  </system.serviceModel>
</configuration>